/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

* {
  font-family: 'Montserrat', sans-serif;
}

#datetime-picker {
  background: none !important;
  cursor: pointer;
}

input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

input.flatpickr-input:focus {
  border: 1px solid #4e75ff !important;
}

#datetime-picker:disabled {
  color: #808080;
  border-color: #808080;
  cursor: not-allowed;
}

[data-start] {
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 8px;
}

[data-start]:hover:not(:disabled) {
  background: #6c8cff;
}

[data-start]:disabled {
  color: #989898;
  background: #cfcfcf;
  cursor: not-allowed;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field .value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.field .lable {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
